*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;

}
a{
    color: white;
}

.navbarMenu{
    color:white;
    list-style: none;
    display: flex;
    width: 55%;
    justify-content: space-around;
    li{
        cursor: pointer;
    }
}

.navbar{
    width: 100%;
    height: 51px;
    background-color: #272727;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    .currentPage{
        display: none;
        color: white;
    }

    .mobileMenu{
        width: 30px;
        height: 30px;
        // background-color: #fff;
        display: none;
        position: absolute;
        right: 30px;
        top: 10px;

    }
    .mobileMenuNav{
        position: absolute;
        width: 100%;
        top: 51px;
        
        left: 0;
        height: 0px;
        background-color: grey;
        transition: 0.3s;
        color: white;
        display: flex;
        overflow: hidden;
        justify-content: center;
        align-items: center;
        .mobileMenuUlDesign{
            list-style: none;
            display: flex;
            flex-direction: column;
            align-items: center;
            row-gap: 3px;
            li{
                cursor: pointer;
                font-size: 18px;
                letter-spacing: 1px;
                
            }
        }
    }
    // position: fixed;
}

.headerText{
    max-width: 900px;
    font-size: 70px;
    text-align: center;
    color: white;
    font-weight: 800;
}
.headerContent{
    max-width: 850px;
    font-size: 20px;
    color: white;
}

.buttonsField{
    display: flex;
    column-gap: 30px;
button{
    background-color: orange;
    width: 100px;
    height: 40px;
    font-size: 16px;
    border: 0;
    border-radius: 10px;
    cursor: pointer;
}


.about{
    color: white;
}
.lets{
    background-color: #272727;
    color: white;
    width: 150px;
}

}

.main{
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction:column;
    row-gap: 30px;
    justify-content: center;
    min-height: 637px;
    padding: 31.5px 0;
    background-color: black;
    color: white;

}

footer{
    width: 100%;
    height: 25px;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    span{
        display: inline-block;
        // width: 120px;
        height: 100%;
    color: white;

    }
}

.about_header{
    max-width: 1100px;
    display: flex;
    align-items: flex-end;
    &-image{
        width: 300px;
        height: 100%;
        overflow: hidden;
        display: flex;
        align-items: center;
        img{
            width: 100%;
            object-fit: cover;
        }
    }
    &-content{
        max-width: 800px;
        color: white;
        font-size: 55px;

    }
}


.about-contentBox{
    max-width: 90%;
    display: flex;
    flex-direction: column;
    row-gap: 20px
    ;

    &_header{
        color: red;
    }
}

.contact{
    // height: 100%;
    display: flex;
    width: 100%;
    padding: 10px 60px;
    align-items: center ;
    justify-content: center;

    &_image{
        width: 400px;
        img{
            width: 100%;
        }
    }
    &_content{
        max-width: 700px;

        display: flex;
        flex-direction: column;
        row-gap: 10px
        ;
        &-text{
            font-size: 18px;
        }

        &-header{
            font-size: 65px;
        }
    }

    .socialProfiles{
        list-style: none;
        line-height: 50px;
    }
}


.portfolios{
    display: flex;
    justify-content: center;
    width: 100%;    
    padding: 20px 40px;
    flex-wrap: wrap;
    gap: 30px;
    
}


.imageBox{
    display: flex;
    // width: 600px;
    // height: 200px;
    border-radius: 19px;
    background-color: #191919;
    border: 1px solid white;
    &-image{
        width: 220px;
        height: 100%;
        overflow: hidden;
        border-radius: 19px;
        img{
            width: 100%;
        }
    }
    &-content{
        max-width: 400px;
        height: 100%;
        padding: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        &_main{
            display: flex;
            flex-direction: column;
            row-gap: 25px;
            &_header{
                font-weight: 800;
                font-size: 22px;
            }
        }
        
    }
}


.blog{
    .imageBox{
        display: flex;
        flex-direction: column;
    }
}


.journey{
    width: 100%;
    height: 100%;
    display: flex;
    
    
    justify-content: space-between;
    .journey_header{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &_nav{
        width: 250px;
        ;
        // background-color: red;
        
    }
}


.timeLine{
    display: flex;
    flex-direction: column;
    padding: 15px;
    row-gap: 10px
    ;
    .timeline{
        display: flex;
        p{
            font-size: 30px;
        }
    }
    .timeLineContents{
        display: flex;
        flex-direction: column;
        gap: 15px;
        .timeLineContent{
            display: flex;
            flex-direction: column;
            row-gap: 4px;
            p{
                color: grey;
            }
            .timeLineContent-text{

                width: 210px;
                min-height: 100px;
                background-color: black;
                border: 1px solid white;
                border-radius: 10px;
                display: flex;
                flex-direction: column;
                padding:  15px;
                justify-content: space-evenly;
                row-gap: 10px
                ;
                &_header{
                    font-weight: 800;
                    
                    color: white;
                }
            }
        }
    }
}


#JourneyText{
    max-width: 1100px;
    // padding: 0 100px;
}


.blog{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    padding: 0 40px;
    

    .imageBox{
        &-image{
            width: 100%;
            
        }
        &-content{
            max-width: 240px;
        }

}}

@media only screen and (max-width: 600px) {
    .navbar{
        .navbarMenu{
            display: none !important;
        }
        .mobileMenu{
            display: flex !important;
        }
        .currentPage{
            display: flex;
        }
    }


    .journey_nav{
        height: auto !important;
        width: 100%;
        .timeLine{
       
            .timeLineContents{
                flex-direction: row;
                overflow-x: scroll;
            }
            .timeLineContents::-webkit-scrollbar{
                display: none;
            }
        }
    }


    .portfolios{

        .imageBox{
            display: flex;
            flex-direction: column;
            &-image{
                width: 100%;
            }
        }
    }

    .headerText{
        font-size: 35px;
    }
    .headerContent{
        font-size: 16px;
        padding: 0 10px;
    }
    .about_header{
        &-image{
            display: none !important;
        }
        &-content{
        font-size: 30px;
        text-align: center;

        }
    }

    .contact_content{
        &-header{
            font-size: 35px;
        }
    }

    .journey{
        flex-direction: column-reverse;
        &_nav{
            height: 20px;
        }

        &_header{
            .contact{
                flex-direction: column;
                &_image{
                    width: 100%;
                }
                &_content{
                    &-header{
                        font-size: 30px;
                    }
                    &-text{
                        font-size: 16px;
                    }
                }
            }
            #JourneyText{
                font-size: 16px;
                padding: 0 10px;
            }
        }
    }
  }